/* ========================================Importing Fonts===================================================== */

@import url('https://fonts.googleapis.com/css2?family=Allison&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ============================================================================================================- */

/*============================================= Variables======================================================= */

:root {
  --primarycolor: #FFFFFF;
  --secondarycolor: #FF5151;
  --secondarycolor: #FF5151;
  --tertiarycolor: #6E6E6E;
  --quaternarycolor: #FF8585;
  --neutralgrey: (lightgrey);
  --backgroundcolor: rgba(255, 255, 255, 0.4);
  --transparentcolor: transparent;
  --charcoal: #36454F;
  --mainheading: #36454F;
  --jetblack: #36454F;
  --sectionColor: #252525;
  --font-family: "Inter", sans-serif;
  --font-size-h1: 2.5em;
  --font-size-h2: 2em;
  --font-size-h3: 1.75em;
  --font-size-h4: 1.5em;
  --font-size-h5: 1.25em;
  --font-size-h6: 1em;
  --para-size: 1em;
}

/* ============================================================================================================- */

/* ==================================================Resets===================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  max-width: 100%;
  min-width: 250px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

/* ==============================================================================================================*/

/* =============================================== Base Styles ==================================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-family);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  letter-spacing: 10px;
  line-height: 1.5;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

ul {
  list-style: none;
}

p {
  letter-spacing: 0px;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
}

img {
  display: block;
}

section {
  height: 100vh;
  margin: 0px auto;
  border: 1px solid #6E6E6E;
}

.container {
  height: auto;
}

.list-item ul li {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--tertiarycolor);
  line-height: 25px;
  margin: 10px 0;
}

.list-item ul li span {
  background-color: var(--secondarycolor);
  border-radius: 50%;
  margin-right: 10px;
}

.list-item ul li span i {
  color: var(--primarycolor);
  text-align: center;
  padding: 5px;
}

.button-reservation-container {
  display: flex;
  justify-content: center;
}

.button-reservation-container a {
  padding: 10px 20px;
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  border-radius: 5px;
  font-size: 15px;
  font-family: var(--font-family);
  line-height: 15.7px;
  letter-spacing: 1.5px;
  transition: background-color 0.6s ease, color 0.6s ease, transform 0.6s ease;
}

.button-reservation-container a:hover {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
  transform: scale(1.05);
}

/* =============================================================================================================*/

/* =============================================================================================================*/

/* Header CSS is kept in "header.css" */

/* =============================================================================================================*/


/* =============================================================================================================*/

/* Hero Section */

.container .main-container .hero-container {
  position: relative;
  z-index: 2;
}

.container .main-container .hero-container .hero-image {
  background: url('../images/bg13.jpg') no-repeat center/cover;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0px auto;
}

.container .main-container .hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.404);
  z-index: 1;
}

.container .main-container .hero-container .hero-image .hero-heading {
  color: var(--primarycolor);
  font-size: 3.5em;
  z-index: 2;
  position: relative;
  text-align: center;
}

/* =============================================================================================================*/

/* =============================================================================================================*/

/* Client Reviews Section */

.container .main-container .client-reviews {
  background-color: var(--sectionColor);
  height: auto;
  width: 100%;
  padding: 0 0 50px 0;
}

.container .main-container .client-reviews .client-comments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container .main-container .client-reviews h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-h2);
  color: var(--primarycolor);
  margin: 100px 0 60px 0;
  line-height: 50px;
  text-transform: uppercase;
}

.container .main-container .client-reviews h2 > span {
  color: var(--secondarycolor);
}

.container .main-container .client-reviews .client-comments .client-review-context .client-text h3 {
  font-family: var(--font-family);
  font-size: var(--font-size-h3);
  color: var(--primarycolor);
  margin: 0 auto;
  padding: 20px;
  max-width: 350px;
}
.container .main-container .client-reviews .client-comments .client-review-context .client-text p {
  font-family: var(--font-family);
  font-size: var(--para-size);
  color: var(--primarycolor);
  line-height: 2em;
  margin: 0 auto;
  padding: 20px;
  max-width: 350px;
}

.container .main-container .client-reviews .client-comments .client-review-context .client-icon {
  margin: 0 auto;
  padding: 20px;
  max-width: 50px;
  color: var(--secondarycolor);
  font-size: 30px;
}

/* =============================================================================================================*/

/* =============================================================================================================*/

/* About Section */

.container .main-container .about-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--secondarycolor);
}

.container .main-container .about-container h2 {
  line-height: 2em;
  max-width: 80%;
  margin: 40px auto;
  color: var(--primarycolor);
  font-size: var(--font-size-h2);
}

.container .main-container .about-container h2 span,
.container .main-container .about-container .about-story h3 span {
  color: var(--sectionColor);
}

.container .main-container .about-container .about-story h3 {
  max-width: 80%;
  word-wrap: break-word;
  margin: 10px auto;
  color: var(--primarycolor);
  font-size: var(--font-size-h3);
}

.container .main-container .about-container .about-story p {
  color: var(--primarycolor);
  line-height: 2em;
  word-wrap: break-word;
  margin: 50px auto;
  max-width: 80%;
}

/* =============================================================================================================*/


/* =============================================================================================================*/

/* Flip Card Section */

.container .main-container .flip-container {
  height: auto;
  background-color: var(--sectionColor);
}

.container .main-container .flip-container h2,
.container .main-container .contact-container .form h2 {
  line-height: 2em;
  max-width: 80%;
  margin: 40px auto;
  color: var(--primarycolor);
  font-size: var(--font-size-h2);
}

.container .main-container .flip-container h2 span,
.container .main-container .contact-container .form h2 span {
  color: var(--secondarycolor);
}

.container .main-container .flip-container .flip-teams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  align-items: center;
  max-width: 85%;
  margin: 0px auto;
  gap: 50px;
}

.container .main-container .flip-container .flip-teams .flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  position: relative;
  place-self: center;
  margin-bottom: 50px;
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.container .main-container .flip-container .flip-teams .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-front,
.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-front {
  background-color: var(--primarycolor);
  color: var(--primarycolor);
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-back {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  transform: rotateY(180deg);
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-front img {
  width: 300px;
  border-radius: 20px;
  height: 300px;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  /* Semi-transparent overlay */
  color: white;
  font-size: 24px;
  border-radius: 20px;
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-front div {
  font-size: 1.5em;
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-back h3,
.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-back p {
  letter-spacing: 5px;
  transform: translate(0, 50%);
  margin-top: 15px;
  font-size: var(--font-size-h3);
}

.container .main-container .flip-container .flip-teams .flip-card .flip-card-inner .flip-card-back p {
  font-size: var(--para-size);
}

/* =============================================================================================================*/


/* =============================================================================================================*/

/* Masonary Section */

.container .main-container .masonary-gallery>h2 {
  line-height: 2em;
  max-width: 80%;
  margin: 40px auto;
  color: var(--sectionColor);
  font-size: var(--font-size-h2);
}

.container .main-container .masonary-gallery {
  background-color: var(--secondarycolor);

}

.container .main-container .masonary-gallery .grid {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondarycolor);
  margin: 15px;
}

.container .main-container .masonary-gallery .grid .grid-item {
  width: calc(33.33% - 10px);
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.container .main-container .masonary-gallery .grid .grid-item:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.container .main-container .masonary-gallery .grid .grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.container .main-container .masonary-gallery .grid .grid-item img:hover {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.container .main-container .masonary-gallery .grid .grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.container .main-container .masonary-gallery .grid .grid-item:hover .overlay {
  opacity: 1;
}


/* =============================================================================================================*/

/* =============================================================================================================*/


/* Footer CSS is kept in "header.css" */

/* =============================================================================================================*/


