/* ========================================Importing Fonts===================================================== */

@import url('https://fonts.googleapis.com/css2?family=Allison&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ============================================================================================================- */

/*============================================= Variables======================================================= */

:root {
  --primarycolor: #FFFFFF;
  --secondarycolor: #FF5151;
  --secondarycolor: #FF5151;
  --tertiarycolor: #6E6E6E;
  --quaternarycolor: #FF8585;
  --neutralgrey: (lightgrey);
  --backgroundcolor: rgba(255, 255, 255, 0.4);
  --transparentcolor: transparent;
  --sectionColor: #252525;
  /* --jetblack: #36454F; */
  --charcoal: #36454F;
  --font-family: "Inter", sans-serif;
  --mainheading: #36454F;
  --jetblack: #36454F;
}

/* ============================================================================================================- */

/* ==================================================Resets===================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../images/bg111.jpg") center / cover no-repeat fixed;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: -1;
  animation: waterFlow 15s ease-in-out infinite;
}

@keyframes waterFlow {
  0% {
    background-position: 0% 0%;
    background-size: 100%;
  }

  25% {
    background-position: 50% 10%;
    background-size: 105%;
  }

  50% {
    background-position: 100% 20%;
    background-size: 110%;
  }

  75% {
    background-position: 50% 30%;
    background-size: 105%;
  }

  100% {
    background-position: 0% 0%;
    background-size: 100%;
  }
}


/* ==============================================================================================================*/

/* =============================================== Base Styles ==================================================*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
}

section {
  height: 100vh;
  max-width: 90%;
  margin: 0px auto;
  margin-bottom: 40px;
}

.container {
  height: auto;
}

.list-item ul li {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--tertiarycolor);
  line-height: 25px;
  margin: 10px 0;
}

.list-item ul li span {
  background-color: var(--secondarycolor);
  border-radius: 50%;
  margin-right: 10px;
}

.list-item ul li span i {
  color: var(--primarycolor);
  text-align: center;
  padding: 5px;
}

.button-reservation-container {
  display: flex;
  justify-content: center;
}

.button-reservation-container a {
  padding: 10px 20px;
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  border-radius: 5px;
  font-size: 15px;
  font-family: var(--font-family);
  line-height: 15.7px;
  letter-spacing: 1.5px;
}

/* =============================================================================================================*/


/* =============================================================================================================*/

/* Header CSS is kept in "header.css" */

/* =============================================================================================================*/

/* ============================================Section: 01 starts===============================================*/

/* Hero Section */

.container .main-container .hero-container {
  position: relative;
  z-index: 2;
}

.container .main-container .hero-container .hero-image {
  background: url('../images/banner2.jpg') no-repeat center/cover;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0px auto;
}

.container .main-container .hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 36, 36, 0.481);
  z-index: 1;
}

.container .main-container .hero-container .hero-image .hero-heading {
  color: var(--primarycolor);
  font-size: 3.5em;
  z-index: 2;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px #99939378
}
.container .main-container .hero-container .hero-image .banner-button-container {
  margin-top: -480px;
  text-align: center;
  z-index: 2;
}
.container .main-container .hero-container .hero-image .banner-button-container a{
  background-color: var(--sectionColor);
  color: var(--secondarycolor);
  padding: 20px;
  font-size: 1.2em;
  border-radius: 4px;
  transition: background-color 0.7s, color 0.7s;
  line-height: 15.7px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
  margin-top: -480px;

}
.container .main-container .hero-container .hero-image .banner-button-container a:hover{
  background-color: white;
}



/* ============================================Section: 01 ends===============================================*/


/* ============================================Section: 02 starts===============================================*/

/* counter container */

.container .section-counter-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 130px;
  gap: 15px;
}

.container .section-counter-container .counter-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 10px;
}

.container .section-counter-container .counter-container>div {
  padding: 10px 40px;
  flex: 1;
}

.container .section-counter-container .counter-container .first-counter>h3,
.container .section-counter-container .counter-container .second-counter>h3,
.container .section-counter-container .counter-container .third-counter>h3 {
  font-family: var(--font-family);
  font-size: 60px;
  font-weight: bold;
  color: var(--secondarycolor);
}

.container .section-counter-container .counter-container .first-counter>p,
.container .section-counter-container .counter-container .second-counter>p,
.container .section-counter-container .counter-container .third-counter>p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
}

.container .section-counter-container .schedule-container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  position: relative;
  z-index: 3;
  top: -200px;
  right: 0px;
  padding: 10px;
  line-height: 2.3rem;
  gap: 30px;
}

.container .section-counter-container .schedule-container .shop-schedule-container {
  height: 280px;
  width: 100%;
  background-color: var(--secondarycolor);
  padding: 15px;
  max-width: 300px;
}

.container .section-counter-container .schedule-container .shop-schedule-container .avatar-container span img {
  height: 30px;
  margin-top: 15px;
}

.container .section-counter-container .schedule-container .shop-schedule-container .schedule-text-container h4 {
  font-family: var(--font-family);
  font-size: 25px;
  color: var(--primarycolor);
  margin-bottom: 10px;
}

.container .section-counter-container .schedule-container .shop-schedule-container .schedule-text-container .schedule-time {
  display: flex;
  flex-direction: column;
}

.container .section-counter-container .counter-container .shop-schedule-container .schedule-text-container .schedule-time:last-child span a {
  margin-top: -10px;
}

.container .section-counter-container .schedule-container .shop-schedule-container .schedule-text-container .schedule-time span>a,
.container .section-counter-container .schedule-container .shop-schedule-container .schedule-text-container .schedule-time span {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--primarycolor);
}

@media screen and (max-width: 550px) {
  .container .section-counter-container {
    display: block;
    width: 100%;
  }

  .container .section-counter-container .schedule-container,
  .container .section-counter-container .counter-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .container .section-counter-container .counter-container>div {
    margin-top: 40px;
  }

}

@media screen and (max-width:1100px) {

  .container .section-counter-container .schedule-container,
  .container .section-counter-container .counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
  }
}


/* ============================================Section: 02 ends===============================================*/

/* ============================================Section: 03 starts=============================================*/

/* About Section */

.container .section-container-about .about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  place-items: center;
}

.container .section-container-about .about-container .about-image-container .about-image1 {
  position: relative;
  top: 130px;
  left: -50px;
}

.container .section-container-about .about-container .about-image-container .about-image1 img {
  width: 350px;
  margin-left: 8px;
}

.container .section-container-about .about-container .about-image-container .about-image2 {
  position: relative;
  position: relative;
  top: -110px;
  left: 100px;
}

.container .section-container-about .about-container .about-content-container {
  padding: 30px;
}

.container .section-container-about .about-container .about-content-container .about-content-title h3 {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--secondarycolor);
  line-height: 15px;
  letter-spacing: 1.5px;
}

.container .section-container-about .about-container .about-content-container .about-content-title h2 {
  font-family: var(--font-family);
  font-size: 40px;
  color: var(--mainheading);
  margin: 20px 0;
  line-height: 50px;
  letter-spacing: 1.5px;
  word-break: break-word;
  max-width: 530px;

}

.container .section-container-about .about-container .about-content-container .about-content-text p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  padding: 0 20px 0 0;
  text-align: justify;
  word-break: break-word;
  max-width: 530px;
}

.container .section-container-about .about-container .about-content-container .about-content-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 50px;
  margin-top: 30px;
}

.container .section-container-about .about-container .about-content-container .about-content-list ul li {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
}

.container .section-container-about .about-container .about-content-container .about-content-list ul li span {
  background-color: var(--secondarycolor);
  border-radius: 50%;
  margin-right: 10px;
}

.container .section-container-about .about-container .about-content-container .about-content-list ul li span i {
  color: var(--primarycolor);
  text-align: center;
  padding: 5px;

}

@media screen and (max-width:1220px) {
  container .section-container-about .about-container .about-image-container .about-image1 {
    position: relative;
    top: 130px;
    left: -36px;
  }

  .container .section-container-about .about-container .about-image-container .about-image2 {
    position: relative;
    top: -91px;
    left: 60px;
  }

  .container .section-container-about .about-container .about-image-container .about-image1 img {
    height: 300px;
    width: 270px;
  }

  .container .section-container-about .about-container .about-image-container .about-image2 img {
    height: 400px;
    width: 350px;
  }
}

@media screen and (min-width:769px) and (max-width:1000px) {
  .container .section-container-about .about-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .container .section-container-about .about-container .about-image-container .about-image1 img {
    height: 300px;
    width: 270px;
  }

  .container .section-container-about .about-container .about-image-container .about-image2 img {
    height: 400px;
    width: 350px;
  }

  .container .section-container-about .about-container .about-image-container .about-image1 {
    top: 0;

  }
}

@media screen and (min-width:320px) and (max-width:768px) {
  .container .section-container-about .about-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .container .section-container-about .about-container .about-image-container .about-image1 img {
    height: 300px;
    width: 270px;
  }

  .container .section-container-about .about-container .about-image-container .about-image2 img {
    height: 400px;
    width: 350px;
  }

  .container .section-container-about .about-container .about-image-container .about-image1 {
    top: 0;

  }
}

@media screen and (max-width:550px) {
  .container .section-container-about .about-container .about-image-container .about-image1 img {
    height: 300px;
    width: 250px;
  }

  .container .section-container-about .about-container .about-image-container .about-image2 img {
    height: 400px;
    width: 300px;
  }

  .container .section-container-about .about-container .about-image-container .about-image1 {
    top: 0;

  }
}

/* =============================================================================================================*/


/* =============================================================================================================*/

/* services */

.container .section-container-services .services-container .service-content-container .service-content-title h3 {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--secondarycolor);
  line-height: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 20px;
}

.container .section-container-services .services-container .service-content-container .service-content-title h2 {
  font-family: var(--font-family);
  font-size: 40px;
  color: var(--mainheading);
  margin: 20px 0;
  line-height: 50px;
  letter-spacing: 1.5px;
  text-align: center;
}

.container .section-container-services .services-container .service-content-container .service-content-text p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  text-align: center;
}

.container .section-container-services .services-container .service-cards-container {
  display: flex;
  overflow: hidden;
}

.container .section-container-services .services-container .service-cards-container .service-card-container {
  width: 530px;
  height: 250px;
  margin: 10px 10px 10px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 2px solid var(--secondarycolor);

}

.container .section-container-services .services-container .service-cards-container .service-card-container .service-card-details h4,
.container .section-container-services .services-container .service-cards-container .service-card-container .service-card-details p {
  margin: 20px 0;
}

.container .section-container-services .services-container .service-cards-container .service-card-container:nth-child(2n+1) {
  background-color: var(--secondarycolor);
}

/* =============================================================================================================*/

/* =============================================================================================================*/

/* why section */

.container .section-container-whyBox .whyBox-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 60px;
  margin-bottom: 250px;
}

.container .section-container-whyBox .whyBox-container .whyBox-content-container {
  grid-column: 1/7;
}

.container .section-container-whyBox .whyBox-container .whyBox-video-container {
  grid-column: 7/-1;
}

.container .section-container-whyBox .whyBox-container .whyBox-video-container a img {
  width: 100%;
  height: 670px;
}

.container .section-container-whyBox .whyBox-container .whyBox-content-container .whyBox-content-title h3 {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--secondarycolor);
  line-height: 15px;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.container .section-container-whyBox .whyBox-container .whyBox-content-container .whyBox-content-title h2 {
  font-family: var(--font-family);
  font-size: 40px;
  color: var(--mainheading);
  margin: 20px 0;
  line-height: 50px;
  word-break: break-word;
}

.container .section-container-whyBox .whyBox-container .whyBox-content-container .whyBox-content-text p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
}

.container .section-container-whyBox .whyBox-container .whyBox-achievement-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/7;
  gap: 20px;
  margin-top: 100px;
}

.container .section-container-whyBox .whyBox-container .whyBox-achievement-container .whyBox-achievement-Box:nth-child(1),
.container .section-container-whyBox .whyBox-container .whyBox-achievement-container .whyBox-achievement-Box:nth-child(3) {
  grid-column: 1/7;
}

.container .section-container-whyBox .whyBox-container .whyBox-achievement-container .whyBox-achievement-Box:nth-child(2),
.container .section-container-whyBox .whyBox-container .whyBox-achievement-container .whyBox-achievement-Box:nth-child(4) {
  grid-column: 7/-1;
}

.container .section-container-whyBox .whyBox-container .whyBox-achievement-container h4 {
  font-family: var(--font-family);
  font-size: 25px;
  color: var(--jetblack);
  margin: 5px 0;
}

.container .section-container-whyBox .whyBox-container .whyBox-achievement-container p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  word-break: break-word;
  max-width: 530px;
}

@media screen and (max-width: 1199px) {
  .container .section-container-whyBox .whyBox-container {
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  .container .section-container-whyBox .whyBox-achievement-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 949px) {
  .container .section-container-whyBox .whyBox-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .container .section-container-whyBox .whyBox-content-container,
  .container .section-container-whyBox .whyBox-video-container {
    grid-column: auto;
  }

  .container .section-container-whyBox .whyBox-achievement-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .container .section-container-whyBox .whyBox-container .whyBox-content-container .whyBox-content-title h3 {
    text-align: center;
  }
}

@media screen and (max-width: 785px) {
  .container .section-container-whyBox .whyBox-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container .section-container-whyBox .whyBox-content-container,
  .container .section-container-whyBox .whyBox-video-container {
    grid-column: auto;
  }

  .container .section-container-whyBox .whyBox-achievement-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (max-width: 480px) {
  .container .section-container-whyBox .whyBox-achievement-container {
    gap: 10px;
  }
}

/* ============================================================================================================ */

/* =============================================================================================================*/

/* Pricing Section */

.container .section-container-pricing .pricing-container {
  padding-top: 60px;
}

.container .section-container-pricing .pricing-container .pricing-content-container .pricing-content-title h3 {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: bold;
  color: var(--secondarycolor);
  line-height: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 50px;
}

.container .section-container-pricing .pricing-container .pricing-content-container .pricing-content-title h2 {
  font-family: var(--font-family);
  font-size: 40px;
  color: var(--mainheading);
  margin: 20px 0;
  line-height: 50px;
  letter-spacing: 1.5px;
  text-align: center;
}

.container .section-container-pricing .pricing-container .pricing-content-container .pricing-content-text p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  text-align: center;
  max-width: 500px;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
}

.container .section-container-pricing .pricing-container .pricing-cards-container {
  display: grid;
  gap: 20px 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  margin-bottom: 50px;
}

.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container {
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container:hover {
  background-color: var(--secondarycolor);
  transform: scaleY(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  padding-top: 0px;
  padding-bottom: 10px;
  color: var(--primarycolor);
  border-radius: 10px;
}

.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container:hover .pricing-card-contents h2,
.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container:hover .pricing-card-contents h3,
.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container:hover .pricing-card-contents p,
.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container:hover .list-item ul li {
  color: var(--primarycolor);
}

.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container:hover .button-reservation-container a {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
  font-weight: bold;
}

.container .section-container-pricing .pricing-container .pricing-card-container .pricing-card-contents h2 {
  font-family: var(--font-family);
  font-size: 35px;
  color: var(--mainheading);
  line-height: 43.8px;
  margin: 10px;
}

.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container .pricing-card-contents h3 {
  font-family: var(--font-family);
  font-size: 50px;
  color: var(--secondarycolor);
  line-height: 80px;
  margin: 15px;
  word-break: break-word;
}

.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container .pricing-card-contents p,
.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container .pricing-card-contents ul li {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  margin: 40px 20px;
}

.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container,
.container .section-container-pricing .pricing-container .pricing-cards-container .pricing-card-container .button-reservation-container {
  margin-top: 30px;
  justify-content: flex-start;
}

/* =============================================================================================================*/

/* =============================================================================================================*/

/* user testimonial */

.container .section-testimonial-container {
  margin-top: 100px;
  display: grid;
  gap: 5px;
  justify-items: center;
}

.container .section-testimonial-container .testimonial-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .section-testimonial-container .testimonial-container .testimonial-card-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  transition: transform 0.2s;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px 250px));

}

.container .section-testimonial-container .testimonial-container .testimonial-card-container:hover {
  transform: scale(1.05);
}

.container .section-testimonial-container .testimonial-container .testimonial-card-container .testinommail-anchor img {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.container .section-testimonial-container .testimonial-container .testimonial-card-container:nth-child(n+4) {
  display: none !important;
}

@media (min-width: 1024px) {
  .container .section-testimonial-container .testimonial-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container .section-testimonial-container .testimonial-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container .section-testimonial-container .testimonial-container .testimonial-card-container:nth-child(n+4) {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .container .section-testimonial-container .testimonial-container {
    grid-template-columns: 1fr
  }

  .container .section-testimonial-container .testimonial-container .testimonial-card-container:nth-child(n+4) {
    display: block !important;
  }
}

.container .section-container-client .client-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0 0 0;
}

.container .section-container-client .client-container .client-image-container .client-image1 img {
  height: 350px;
  width: 350px;
}

.container .section-container-client .client-container .client-image-container .client-image2 {
  position: relative;
  top: -120px;
  left: 170px;
}

.container .section-container-client .client-container .client-content-container .client-content-title h3 {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--secondarycolor);
  line-height: 15px;
  letter-spacing: 1.5px;
}

.container .section-container-client .client-container .client-content-container .client-content-title h2 {
  font-family: var(--font-family);
  font-size: 40px;
  color: var(--mainheading);
  margin: 20px 0;
  line-height: 50px;
  letter-spacing: 1.5px;
}

.container .section-container-client .client-container .client-content-container .client-content-text p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  padding: 0 20px 0 0;
  text-align: justify;
}

.container .section-container-client .client-container .client-content-container .client-rating-container {
  border: 2px solid var(--secondarycolor);
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 30px;
}

.container .section-container-client .client-container .client-content-container .client-rating-container .client-rating span i {
  color: var(--secondarycolor);
  margin-bottom: 20px;
}

.container .section-container-client .client-container .client-content-container .client-rating-container .client-text p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  text-align: justify;
  margin-bottom: 20px;
}


.container .section-container-client .client-container .client-content-container .client-rating-container .client-profile {
  display: flex;
}


.container .section-container-client .client-container .client-content-container .client-rating-container .client-profile img {
  width: 50px;
  height: 50px;
}

.container .section-container-client .client-container .client-content-container .client-rating-container .client-profile .support-text h4 {
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--mainheading);
  line-height: 25px;
  margin: 0 5px;
}

.container .section-container-client .client-container .client-content-container .client-rating-container .client-profile .support-text h6 {
  font-family: var(--font-family);
  font-size: 13px;
  color: var(--secondarycolor);
  line-height: 15.7px;
  margin: 10px 5px;
}

.container .section-container-client .client-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0 0 0;
}

@media screen and (max-width: 1300px) {

  .container .section-container-client .client-container .client-image-container .client-image1 img,
  .container .section-container-client .client-container .client-image-container .client-image2 img {
    height: 300px;
  }

  .container .section-container-client .client-container .client-image-container .client-image2 {
    position: relative;
    top: -112px;
    left: 153px;
  }
}

@media screen and (max-width: 1150px) {

  .container .section-container-client .client-container .client-image-container .client-image1 img,
  .container .section-container-client .client-container .client-image-container .client-image2 img {
    height: 250px;
  }

  .container .section-container-client .client-container .client-image-container .client-image2 {
    position: relative;
    top: -112px;
    left: 153px;
  }
}

@media screen and (max-width: 950px) {
  .container .section-container-client .client-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .container .section-container-client .client-container .client-content-container {
    text-align: center;
  }

  .container .section-container-client .client-container .client-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .container .section-container-client .client-container .client-image-container .client-image2 {
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .container .section-container-client .client-container .client-image-container {
    display: block;
    width: 100%;
  }

  .container .section-container-client .client-container .client-image-container .client-image1 img,
  .container .section-container-client .client-container .client-image-container .client-image2 img {
    height: 300px;
    width: 100%;
  }

  .container .section-container-client .client-container .client-image-container .client-image2 {
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .container .section-container-client .client-container {
    padding: 20px 0;
  }

  .container .section-container-client .client-container .client-content-container {
    padding: 0 10px;
  }

  .container .section-container-client .client-container .client-rating-container {
    padding: 20px;
  }
}

/* =============================================================================================================*/

/* =============================================================================================================*/

/* Contact Section */

.container .section-container-contact {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.container .section-container-contact .contact-container {
  display: grid;
  gap: 20px;
}

.container .section-container-contact .contact-container .contact-content-container {
  display: grid;
  gap: 15px;
}


.container .section-container-contact .contact-container .contact-content-container .contact-content-title h3 {
  font-family: var(--font-family);
  font-size: 13px;
  color: var(--secondarycolor);
  line-height: 15px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 40px;
}

.container .section-container-contact .contact-container .contact-content-container .contact-content-title h2 {
  font-family: var(--font-family);
  font-size: 40px;
  color: var(--mainheading);
  margin: 20px 0;
  line-height: 50px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;

}

.container .section-container-contact .contact-container .contact-content-container .contact-content-text p,
.container .section-container-contact .contact-container .contact-content-container .contact-info p,
.container .section-container-contact .contact-container .contact-content-container .contact-info p a {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--tertiarycolor);
  line-height: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.container .section-container-contact .contact-container .contact-content-container .contact-info p span i {
  color: var(--secondarycolor);
  margin-bottom: 10px;
}

.contact-map-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.map-container {
  width: 100%;
}

.contact-form-container {
  display: grid;
  gap: 10px;
  border: 2px solid var(--secondarycolor);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondarycolor);
  transition: transform 0.6s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease;
}

.contact-form-container:hover {
  background-color: var(--primarycolor);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.contact-form-container .form {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.contact-form-container .form input[type="text"],
.contact-form-container .form input[type="email"],
.contact-form-container .form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: var(--font-family);
  font-size: 17px;
  margin: 10px 0;
  background-color: #ec7777;
}

.contact-form-container .form input::placeholder,
.contact-form-container .form textarea::placeholder {
  color: var(--primarycolor);
  font-size: 17px;
  font-family: var(--font-family);
}

.contact-form-container .form input:focus {
  border-color: var(--tertiarycolor);
  outline: none;
}

.submit-button {
  text-align: center;
}

.submit-button input[type="submit"] {
  width: 28%;
  padding: 10px;
  background-color: var(--primarycolor);
  border: none;
  border-radius: 5px;
  color: var(--secondarycolor);
  font-size: 16px;
  margin-top: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button input[type="submit"]:hover {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
}

label {
  display: none;
}

@media screen and (max-width: 768px) {
  .container .section-container-contact .contact-container .contact-map-container {
    grid-template-columns: 1fr;
  }

  .submit-button input[type="submit"] {
    width: 100%;
  }

  .container .section-container-contact .contact-container .contact-content-container {
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container .section-container-contact {
    gap: 15px;
  }

  .contact-form-container {
    padding: 15px;
  }

  .contact-form-container .form input[type="text"],
  .contact-form-container .form input[type="email"],
  .contact-form-container .form textarea {
    font-size: 15px;
  }

  .submit-button input[type="submit"] {
    padding: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .container .section-container-contact .contact-container .contact-map-container {
    grid-template-columns: 1fr 1fr;
  }

  .submit-button input[type="submit"] {
    width: auto;
  }
}

/* =============================================================================================================*/

/* =============================================================================================================*/


/* Custom styles for SweetAlert */

.custom-swal {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  position: relative;
  z-index: 100;
}

.custom-swal .swal2-confirm {
  background-color: var(--sectionColor);
  color: var(--primarycolor);
}

.error {
  color: red !important;
}

.error-border {
  border: 2px solid red !important;
}

.success-border {
  border: 4px solid green !important;
}

/* =============================================================================================================*/

/* Footer CSS is kept in "Footer.css" */

/* =============================================================================================================*/